Bug in cookie jar implementation

For backwards compatibility, many web servers send cookies whose domain starts with a leading dot, which according to [RFC6265 Section 4.1.2.3](https://datatracker.ietf.org/doc/html/rfc6265#section-4.1.2.3), should be ignored.
> Note that a leading %x2E ("."), if present, is ignored even though that character is not permitted

The following code should have worked but instead panics with `CookieRejectedError`.
```Rust
let c = Cookie::builder("name", "value")
    .domain(".example.com")
    .path("/")
    .secure(true)
    .expiration(UNIX_EPOCH + Duration::from_secs(2000000000))
    .build()
    .unwrap();
let jar = CookieJar::new();
jar.set(c, &Uri::from_static("https://www.example.com")).unwrap();
```
The current implementation does not ignore leading dot
https://github.com/sagebind/isahc/blob/8539991751e3424d7383fec31d379fa065b5d585/src/cookies/jar.rs#L294-L306


Thanks for filing an issue! You're right, this is incorrect behavior and ought to be fixed. This should be relatively easy to implement, so I expect I can have a fix for this out in several days.

So looking into this deeper, that aspect of the RFC is already handled specifically when parsing the `Set-Cookie` header. However it is _not_ handled when using `CookieBuilder`. At first glance, I'm not actually sure if `CookieBuilder::domain` should allow and/or handle a `.` prefix. In the RFC it is mentioned specifically in the context of the `Set-Cookie` header, and not about the semantics of cookies in general.